
//
// VARIABLES
//

// Colors
$black: #000;
$gray: #666;

// Notion Colors
$darkerGray: #303537; // Outer Space ~> rgb(48, 53, 55)
$darkGray: #383d3f; // Cape Code ~> rgb(56, 61, 63)
$lightGray: #8f9295; // Oslo Gray ~> rgb(143, 146, 149)
$white: #ebebeb; //Gallery ~> rgb(235, 235, 235)
$blue: #37b3da; //Scooter ~> rgb(55, 179, 218)

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
